{% extends "main.html" %}

{% block extrahead %}
  <style>
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.5; /* 统一透明度 */
        z-index: -1;
    }
    .md-tabs, .md-footer, .md-footer-meta {
      background-color: transparent;
    }
    .sidebar_nav {
        height: 0 !important;
    }
    #app {
      position: absolute;
      right: calc(35% - 320px / 2);
      top: calc(50% - 445.68px / 2);
    }
    @media (max-width: 960px) {
      #app {
        display: none;
      }
    }
    .md-main {
      display: flex;
      flex-direction: column;
    }
    .md-main__inner {
      display: flex;
      margin-top: 1.2rem;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }
    .md-content {
      flex-grow: initial;
    }
    .md-content__inner {
      margin: 0 !important;
    }
    .md-header--shadow {
      box-shadow: none !important;
    }
  </style>
{% endblock %}

{% block site_nav %}
  <div style="flex-grow: 1;">
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap sidebar_nav">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="app"></div>
  <div class="md-typeset" style="display: block; background-color: transparent; font-size: 100%;">
    <div class="md-grid">
      <div style="margin-left: 0.8rem;">
        {{ page.content }}
      </div>
    </div>
  </div>
  <!-- 右下角 SVG 装饰（固定定位，向左上偏移一点） -->
  <svg aria-hidden="true" width="300" height="300" viewBox="0 0 120 120" style="position:fixed; right:10%; bottom:2%; z-index:-10; pointer-events:none;">
    <path class="cls-1" fill="var(--md-primary-blue--dark)" d="M55.61,5.66C31.23,5.66,14.51,22.19,14.51,40.56s19.05,32.91,40.77,33.58c6.46.2,11.92-2.23,15.8-3.66.85-.31,1.78-.32,2.64-.03,6.25,2.18,11.94,4.56,18.2,6.74,3.62,1.26,7.01-2.4,5.49-5.92-1.98-4.59-3.99-8.36-5.97-12.9-.53-1.2-.41-2.58.28-3.7,2.31-3.78,4.36-10.33,4.23-16.31-.37-17.84-17.92-32.69-40.35-32.69ZM55.28,68.05c-15.26-.64-34.65-11.97-34.65-28.27s15.51-28.28,34.65-28.28c16.88,0,34.3,13.26,34.65,28.28.13,5.77-2.28,10.65-4.63,14.06-.78,1.13-.92,2.58-.37,3.84,1.08,2.44,2.88,6.53,4.2,9.53.61,1.39-.76,2.83-2.18,2.28l-12.35-4.8c-1-.39-2.12-.34-3.1.1-3.81,1.71-9.45,3.54-16.22,3.26Z"/>
  </svg>
{% endblock %}