@import url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/FZLanTY/FZLanTY.font.css");

@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: normal;
    font-weight: 400;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: italic;
    font-weight: 400;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Italic.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: normal;
    font-weight: 700;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Bold.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: italic;
    font-weight: 700;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Bold Italic.ttf");
}

main {
    --color-prettylights-syntax-comment: var(--md-primary-text-dark);
    --color-prettylights-syntax-constant: var(--md-primary-blue);
    --color-prettylights-syntax-entity: var(--md-primary-blue);
    --color-prettylights-syntax-storage-modifier-import: var(--md-accent-fg-color);
    --color-prettylights-syntax-entity-tag: var(--md-primary-blue);
    --color-prettylights-syntax-keyword: var(--md-accent-fg-color);
    --color-prettylights-syntax-string: var(--md-primary-blue);
    --color-prettylights-syntax-variable: var(--md-accent-fg-color);
    --color-prettylights-syntax-invalid-illegal-text: var(--md-accent-fg-color);
    --color-prettylights-syntax-invalid-illegal-bg: color-mix(in srgb, var(--md-accent-fg-color), transparent 85%);
    --color-prettylights-syntax-markup-heading: var(--md-primary-blue);
    --color-prettylights-syntax-markup-italic: var(--md-primary-text);
    --color-prettylights-syntax-markup-bold: var(--md-primary-text);
    --color-prettylights-syntax-markup-deleted-text: var(--md-primary-text);
    --color-prettylights-syntax-markup-deleted-bg: color-mix(in srgb, var(--md-accent-fg-color), transparent 60%);
    --color-prettylights-syntax-markup-inserted-text: var(--md-primary-text);
    --color-prettylights-syntax-markup-inserted-bg: color-mix(in srgb, var(--md-primary-blue), transparent 60%);
    --color-prettylights-syntax-markup-changed-text: var(--md-primary-text);
    --color-prettylights-syntax-markup-changed-bg: color-mix(in srgb, var(--md-primary-text), transparent 60%);
    --color-prettylights-syntax-markup-ignored-text: var(--md-primary-text);
    --color-btn-text: var(--md-primary-text);
    --color-btn-bg: var(--md-primary-fg-color--dark);
    --color-btn-border: var(--md-primary-text-dark);
    --color-btn-hover-bg: var(--md-primary-text-dark);
    --color-btn-hover-border: var(--md-primary-fg-color--light);
    --color-btn-active-bg: var(--md-primary-fg-color--light);
    --color-btn-selected-bg: var(--md-primary-fg-color--light);
    --color-btn-counter-bg: var(--md-primary-fg-color--light);
    --color-btn-outline-text: var(--md-primary-blue);
    --color-btn-shadow: 0 0 #0000;
    --color-btn-inset-shadow: 0 0 #0000;
    --color-btn-primary-text: var(--md-primary-fg-color--light);
    --color-btn-primary-bg: var(--md-primary-blue);
    --color-btn-primary-border: #0000;
    --color-btn-primary-shadow: 0 0 #0000;
    --color-btn-primary-inset-shadow: 0 0 #0000;
    --color-btn-primary-hover-bg: var(--md-primary-blue);
    --color-btn-primary-hover-border: var(--md-primary-blue);
    --color-btn-primary-selected-bg: var(--md-primary-blue);
    --color-btn-primary-selected-shadow: 0 0 #0000;
    --color-btn-primary-disabled-text: var(--md-primary-fg-color--light);
    --color-btn-primary-disabled-bg: color-mix(in srgb, var(--md-primary-blue), transparent 60%);
    --color-btn-primary-disabled-border: #0000;
    --color-action-list-item-default-hover-bg: var(--md-primary-text-dark);
    --color-segmented-control-bg: var(--md-primary-fg-color--light);
    --color-segmented-control-button-bg: var(--md-primary-fg-color--light);
    --color-segmented-control-button-selected-border: var(--md-primary-text-dark);
    --color-fg-default: var(--md-primary-text);
    --color-fg-muted: var(--md-primary-text);
    --color-fg-subtle: var(--md-primary-text);
    --color-canvas-default: var(--md-primary-fg-color--light);
    --color-canvas-overlay: var(--md-primary-fg-color--dark);
    --color-canvas-inset: var(--md-primary-fg-color--light);
    --color-canvas-subtle: var(--md-primary-blue--light);
    --color-border-default: var(--md-primary-text-dark);
    --color-border-muted: var(--md-primary-fg-color--dark);
    --color-neutral-muted: color-mix(in srgb, var(--md-primary-text-dark), transparent 80%);
    --color-accent-fg: var(--md-primary-blue);
    --color-accent-emphasis: var(--md-primary-blue);
    --color-accent-muted: color-mix(in srgb, var(--md-primary-blue), transparent 60%);
    --color-accent-subtle: color-mix(in srgb, var(--md-primary-blue), transparent 85%);
    --color-success-fg: var(--md-primary-blue);
    --color-attention-fg: var(--md-accent-fg-color);
    --color-attention-muted: var(--md-primary-blue);
    --color-attention-subtle: color-mix(in srgb, var(--md-primary-blue), transparent 85%);
    --color-danger-fg: var(--md-accent-fg-color);
    --color-danger-muted: color-mix(in srgb, var(--md-accent-fg-color), transparent 60%);
    --color-danger-subtle: color-mix(in srgb, var(--md-accent-fg-color), transparent 80%);
    --color-primer-shadow-inset: 0 0 #0000;
    --color-scale-gray-7: var(--md-primary-text-dark);
    --color-scale-blue-8: var(--md-primary-fg-color--dark);
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8)
}

main .gsc-comment-box-textarea::placeholder {
    color: var(--md-primary-text-dark);
}

main .pagination-loader-container {
    background-image: url(https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/asstes/icons/loading.gif)
}

main .gsc-loading-image {
    background-image: url(https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/asstes/icons/loading.gif)
}

:host, html {
  --font-family-sans: "FZLanTY";
  --font-family-monospace: "Ubuntu Mono derivative Powerline";
  --font-family-default: var(--font-family-sans);
}