/* 多级标题编号系统 */
body { counter-reset: h1;}
h1 { counter-reset: h2;}
h2 { counter-reset: h3;}
h3 { counter-reset: h4;}
h4 { counter-reset: h5;}
h5 { counter-reset: h6;}

h2:not(.toc-disable h2, .md-post h2)::before{
    counter-increment: h2;
    content: counter(h2);
    color: #e67e22;
    margin-right: 1rem;
}

h3:not(.toc-disable h3, .md-post h3)::before{
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    color: #f39c12;
    margin-right: .5rem;
}

h4:not(.toc-disable h4, .md-post h4)::before{
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    color: #16a085;
    margin-right: .5rem;
}

h5:not(.toc-disable h5, .md-post h5)::before{
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    color: #2980b9;
    margin-right: .5rem;
}

h6:not(.toc-disable h6, .md-post h6)::before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
    color: #8e44ad;
    margin-right: .5rem;
}