@import url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/FZLanTY/FZLanTY.font.css");

@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: normal;
    font-weight: 400;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: italic;
    font-weight: 400;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Italic.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: normal;
    font-weight: 700;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Bold.ttf");
}
@font-face {
    font-family: 'Ubuntu Mono derivative Powerline';
    font-style: italic;
    font-weight: 700;
    src: url("https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/fonts/Ubuntu Mono derivative Powerline Bold Italic.ttf");
}

main {
    --color-prettylights-syntax-comment: #838ba7;
    --color-prettylights-syntax-constant: #8caaee;
    --color-prettylights-syntax-entity: #8caaee;
    --color-prettylights-syntax-storage-modifier-import: #ef9f76;
    --color-prettylights-syntax-entity-tag: #81c8be;
    --color-prettylights-syntax-keyword: #f4b8e4;
    --color-prettylights-syntax-string: #5BB7E2;
    --color-prettylights-syntax-variable: #ef9f76;
    --color-prettylights-syntax-invalid-illegal-text: #e78284;
    --color-prettylights-syntax-invalid-illegal-bg: #e7828426;
    --color-prettylights-syntax-markup-heading: #81c8be;
    --color-prettylights-syntax-markup-italic: #e5c890;
    --color-prettylights-syntax-markup-bold: #e5c890;
    --color-prettylights-syntax-markup-deleted-text: #E0EAF5;
    --color-prettylights-syntax-markup-deleted-bg: #e7828466;
    --color-prettylights-syntax-markup-inserted-text: #E0EAF5;
    --color-prettylights-syntax-markup-inserted-bg: #5BB7E266;
    --color-prettylights-syntax-markup-changed-text: #E0EAF5;
    --color-prettylights-syntax-markup-changed-bg: #e5c89066;
    --color-prettylights-syntax-markup-ignored-text: #E0EAF5;
    --color-btn-text: #E0EAF5;
    --color-btn-bg: #414559;
    --color-btn-border: #4C5866;
    --color-btn-hover-bg: #4C5866;
    --color-btn-hover-border: #232733;
    --color-btn-active-bg: #232733;
    --color-btn-selected-bg: #232733;
    --color-btn-counter-bg: #232733;
    --color-btn-outline-text: #5BB7E2;
    --color-btn-shadow: 0 0 #0000;
    --color-btn-inset-shadow: 0 0 #0000;
    --color-btn-primary-text: #232733;
    --color-btn-primary-bg: #5BB7E2;
    --color-btn-primary-border: #0000;
    --color-btn-primary-shadow: 0 0 #0000;
    --color-btn-primary-inset-shadow: 0 0 #0000;
    --color-btn-primary-hover-bg: #69bbe0;
    --color-btn-primary-hover-border: #69BBE0;
    --color-btn-primary-selected-bg: #69BBE0;
    --color-btn-primary-selected-shadow: 0 0 #0000;
    --color-btn-primary-disabled-text: #232634;
    --color-btn-primary-disabled-bg: #5BB7E266;
    --color-btn-primary-disabled-border: #0000;
    --color-action-list-item-default-hover-bg: #4C5866;
    --color-segmented-control-bg: #232733;
    --color-segmented-control-button-bg: #232733;
    --color-segmented-control-button-selected-border: #737994;
    --color-fg-default: #E0EAF5;
    --color-fg-muted: #E0EAF5;
    --color-fg-subtle: #E0EAF5;
    --color-canvas-default: #232733;
    --color-canvas-overlay: #414559;
    --color-canvas-inset: #232634;
    --color-canvas-subtle: #1E2129;
    --color-border-default: #4C5866;
    --color-border-muted: #414559;
    --color-neutral-muted: #73799433;
    --color-accent-fg: #5BB7E2;
    --color-accent-emphasis: #5BB7E2;
    --color-accent-muted: #5BB7E266;
    --color-accent-subtle: #5BB7E226;
    --color-success-fg: #5BB7E2;
    --color-attention-fg: #ef9f76;
    --color-attention-muted: #5BB7E2;
    --color-attention-subtle: #5BB7E226;
    --color-danger-fg: #e78284;
    --color-danger-muted: #e7828466;
    --color-danger-subtle: #e7828433;
    --color-primer-shadow-inset: 0 0 #0000;
    --color-scale-gray-7: #4C5866;
    --color-scale-blue-8: #6089e7;
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8)
}

main .gsc-comment-box-textarea::placeholder {
    color: #a5adce
}

main .pagination-loader-container {
    background-image: url(https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/asstes/icons/loading.gif)
}

main .gsc-loading-image {
    background-image: url(https://alivender-assets.oss-cn-beijing.aliyuncs.com/alivenderwww_github_io/asstes/icons/loading.gif)
}

:host, html {
  --font-family-sans: "FZLanTY";
  --font-family-monospace: "Ubuntu Mono derivative Powerline";
  --font-family-default: var(--font-family-sans);
}